@font-face {
  font-family: 'SourceHanSansCN-Regular'; /*项目中要引用的字体名称*/
  src: url(./SourceHanSansCN-Regular.otf); /*字体文件名*/
}
@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url(./SourceHanSansCN-Bold.otf);
}
@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url(./SourceHanSansCN-Medium.otf);
}
