@import './elements/element-ui.scss';
@import './elements/svg.scss';
@import './elements/variables.scss';
@import './elements/sidebar.scss';

body{
  margin: 0;
  padding: 0;
  height: 100%;
}

// layout
.app-wrapper .el-header{
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  width: 100%;
}
.app-wrapper .el-main{
  margin: $header_height 0 0 0; /*$side_nav_bar_width*/
  min-height: calc(100vh - #{$header_height} - #{$footer_height}); /*最小高度=屏幕高度-(头部高度+尾部高度)*/
}
.app-wrapper .el-footer{
  background: rgba(150, 150, 150, 0.1);
  // position: absolute;
  width: 100%;
  bottom: 0;
}

.chart-wrapper{
  width: 600px;
  height: 300px;
  padding: 10px;
  border: rgba($color: #000000, $alpha: .5) 1px solid;
  border-radius: 15px;
  box-shadow: rgba($color: #000000, $alpha: .3) 2px 2px 5px;
}
