@import './elements/element-ui.scss';
@import './elements/variables.scss';
@import './elements/sidebar.scss'; // 侧栏样式
@import './elements/layout.scss'; // 布局样式
@import './elements/login.scss'; // 登录样式

// 字体引入
@font-face {
  font-family: 'SourceHanSansCN-Regular'; /*项目中要引用的字体名称*/
  src: url(./fonts/SourceHanSansCN-Regular.otf); /*字体文件名*/
}
@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url(./fonts/SourceHanSansCN-Bold.otf);
}
@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url(./fonts/SourceHanSansCN-Medium.otf);
}

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgba(0, 0, 0, .1);
}

#app {
  font-family: "Helvetica Neue",Verdana,Tahoma,"Hiragino Sans GB","Microsoft YaHei","Noto Sans CJK SC","WenQuanYi Micro Hei",sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// svg
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.chart_wrapper{ // 测试用
  width: 600px;
  height: 300px;
  padding: 10px;
  border: rgba($color: #000000, $alpha: .5) 1px solid;
  border-radius: 15px;
  box-shadow: rgba($color: #000000, $alpha: .3) 2px 2px 5px;
}
